{
  "extends": ["react-app", "wesbos", "./.eslintrc.pret.json"],

  "rules": {
    "no-console": 0,
    "quotes": 1,
    "react/prop-types": 0,
    "no-unused-expressions": ["warn", { "allowShortCircuit": true, "allowTernary": true }]
  },
  "overrides": [
    {
      "files": ["src/**/*.ts", "src/**/*.tsx"],
      "extends": ["wesbos/typescript", "./.eslintrc.pret.json"],
      "rules": {
        "react/prop-types": 0
      },
      "excludedFiles": ["functions/**/*.ts"]
    }
  ],
  "plugins": ["eslint-plugin-only-warn"]
}
