.root-wrap {
  /* sandbox --static, proper responsivity guaranteed by parent */

  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  /* set on body for all */
  box-sizing: border-box;
  /* buff content in --static */
  padding: 15px;
  /* fix */
  letter-spacing: normal;
}
#root {
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
}
.background {
  background-image: url(../../assets/blob-scene-haikei.svg);
}
