/* <Landing> */
.main-content-wrap {
  /* --static vh minus nav */
  height: 708px;
  /* center landing content */
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-text {
  /* alignment */
  display: flex;
  flex-direction: column;
  /* topography --static --To-Do */
  font-size: 24.1px;
  /* buffing in --static */
  margin-left: 57px;
}

.landing-text > p:first-of-type {
  /* separate from button */
  margin-bottom: 2.5em;
}
.project-name {
  /* topography */
  letter-spacing: calc(var(--spacing) + 8px);
  font-size: 66.3px;
  font-family: 'GlacialIndifference', sans-serif;
  font-weight: bold;
  /* reset -semantic */
  margin: 0;
}
.tagline {
  font-weight: bold;
}
.chocolate {
  /* justify singular items with auto margin: https://stackoverflow.com/questions/32551291/in-css-flexbox-why-are-there-no-justify-items-and-justify-self-properties */
  margin-left: auto;
}
.btn {
  /* init */
  padding: 16px;
  width: fit-content;
  height: fit-content;
  color: white;
  /* topography */
  font-weight: bold;
  font-size: 17.2px;
  /* ease */
  background-color: var(--color-primary);
  border-radius: var(--choco-round);
  transition: filter 0.2s ease-in-out;
}
.btn:hover,
.btn:focus,
.btn:active {
  color: white;
  /* increase brightness by 20% */
  filter: brightness(120%);
}
/* </Landing> */
