.root-wrap {
  /* sandbox --static */
  width: 100vw;
  height: 100vh;
  /* set on body for all */
  box-sizing: border-box;
  /* buff content in --static */
  padding: 15px;
  /* fix */
  letter-spacing: normal;
}
.background{
  background-image: url(../../assets/blob-scene-haikei.svg);
}