/* Vars */
$border-rad: 10px;
$light-blue: #f3f9fb;
$deep-light-blue: #c8e5ee;
$medium: 500;
$user-av-size: 38px;

.nav_link {
  color: hsl(0, 0%, 10%);
  font-size: 18px;
  padding: 9.5px;
  /* rounding */
  border-radius: 2rem;
}


.nav_link:hover,
.nav_link.active {
  /* highlight */
  color: black;
  background-color: $light-blue;
  /* enhance highlight */
  border: 1px solid $deep-light-blue;
}
